/* --------------GOOGLE FONT LINK ------------------------  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/*  ICON LINK  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
        font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 3em auto;

}

header h1{
    border-bottom: 5px solid red;
    font-weight: 500;
    font-size: 3.5rem;
    letter-spacing: 0.15em;
    word-spacing: 0.15em;
}
.about-detail{
    color:rgba(75, 72, 72, 0.818);
    word-spacing: 0.15em;
    letter-spacing: 0.12em;
    line-height: 1.5em;
    font-size: 1.3rem;
}
.row{
    padding: 2em;
    text-align: center;
    font-size: 1.3rem;
}
.row::after{
    content: '';
    display: block;
    clear: both;
}
.row1{
    float: left;
    width: 50%;
}
.row1 li{
    list-style: none;
}
.row2{
    float:right;
    width: 50%;

}
.row::after{
    content: '';
    clear: both;
    display: block;
}
.row li::before{
    content: '\2713';
    color:  #e63946;
    font-weight: bold;
    padding-right: 1em;
}
.row2 li{
    list-style: none;
}
.row li{
    line-height: 2em;
}
.count-items{
    text-align: center;
}
.count-items1{
    float: left;
    width: 25%;
}
.count-items2{
    float: left;
    width: 25%;
}
.count-items3{
    float: left;
    width: 25%;
}
.count-items4{
    float: left;  
    width: 25%;
}
.count::after{
    content: '';
    display: block;
    clear: both;
}
.count-items span{
    color: #e63946;
    font-size: 3rem;
    font-weight:700;
}
.count-items p{
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #555555;
}
.footer-container{
    background:linear-gradient(25deg, #d64c7f,#ee4758 50%);
    color: #f4f4f4;
    padding: 1em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.275);
}
.footer-left{
    float: left;
    font-size: 1.6rem;
    width: 60%;
    text-align: center;
    margin-top: 1em;
}
.footer-right a button{
    float: right;
    background-color: transparent;
    font-size: 2.5rem;
    text-transform: uppercase;
    border: 2px solid #f4f4f4 ;
    color: #f4f4f4 ;
    width: 40%;
    letter-spacing: 0.5rem;
    display: inline-block;
    font-weight:700;
    padding: 0.1em;
}
.footer-container::after{
    content: '';
    clear: both;
    display: block;
}



/* ------------------------MEDIA QUERIES -------------------------- */

@media (max-width:500px) {
    html{
        font-size: 50%;
    }
    .footer-left{
        float: none;
        width: 100%;
        text-align: center;
    }
    .footer-right a button{
        float: none;
        width:100%;
        text-align: center;
        margin-top: 1em;
    }
}
